body{
  font-family: Calibri, Helvetica, sans-serif;

  background-image: url("images/image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}


body > table{
  width:20%;
}

table{
  margin-top:100px;
  border-collapse: collapse;
}
table.list{
  width:20%;
  border: 4px solid;
  margin-top: 20px;
}
td, th{
  border: 5px solid #blue;
  text-align:left;
  padding: 8px;
}

input[type=text],input[type=number]{
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
    border: 4px solid #blue;
  border:radius: 4px;
}

.btn{
 background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  text-align: center;
  border: none;
  cursor: pointer;
  width: 30%;
  display: grid;
  opacity: 0.9;
}

.Reset{
  background-color: #4CAF50;
  color: white;
  margin-top:10px;
  margin-right:200px;
  padding: 10px 20px;

  text-align: center;
  border: none;
  cursor: pointer;
  width: 30%;
  display: grid;
  opacity: 0.9;
}